/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.li{
    list-style: none;
}

.box-tre{
    background-color: green;
}
.box-cin{
    background-color: chocolate;
}
.box-tre-cin{
    background-color: red;
}


/* *** HEADER *** */

/* *** MAIN *** */

/* *** FOOTER *** */

/* *** DEBUG *** */

